<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- Boilerplate file to be used in all 3 -->
        <h1>THANKS SO MUCH FOR VISITING MY SITE</h1>
        <script src="" async defer></script>
    </body>
</html>