<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"type="text/css" href="css/about.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <style>
        </style>
    </head>
    <%- include('../partials/header.ejs')%>
    <body>
        <!-- At the top of the document should be your Name that is sent from the server.js 
file as a variable -->
            <center>
            <h3>Hello, My name is <%= name %>, Thanks again for visiting</h3>
            <br>

        <!-- Page about you -->
        <p1>I am currently a Senior Studying Business
            management with a Minor in IT
        </p1>
        <br></br>
        <p>In my spare time I like to work on an electronics
            project, get in the gym, or out in nature
        </p>
        </center>
        <!-- 3 by 3 image grid -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <img src="/Kremenak.jpeg" class="img-fluid image-1" alt="Image 1">
              </div>
              <div class="col-sm-4">
                <img src="/camping_group.JPG" class="img-fluid image-2" alt="Image 2">
              </div>
              <div class="col-sm-4">
                <img src="/footballGame_group.jpg" class="img-fluid image-3" alt="Image 3">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <img src="/skybar_group.jpg" class="img-fluid image-4" alt="Image 4">
              </div>
              <div class="col-sm-4">
                <img src="/Crawfish_face.JPG" class="img-fluid image-5" alt="Image 5">
              </div>
              <div class="col-sm-4">
                <img src="/playing_pool.PNG" class="img-fluid image-6" alt="Image 6">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <img src="/cabin_snakefish.JPG" class="img-fluid image-7" alt="Image 7">
              </div>
              <div class="col-sm-4">
                <img src="camping_waterfront_picture.jpg" class="img-fluid image-8" alt="Image 8">
              </div>
              <div class="col-sm-4">
                <img src="darty_group_walking.jpg" class="img-fluid image-9" alt="Image 9">
              </div>
            </div>
          </div>

        <script src="" async defer></script>
    </body>
    <%- include('../partials/layout.ejs') %>
</html>